#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// Dialog

IDD_TOOLBOX_DLG DIALOG DISCARDABLE 400, 0, 350, 140
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT 	"1):",-1,11,1,45,8
	EDITTEXT	IDD_A1,30,1,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_B1,75,1,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_C1,120,1,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_D1,165,1,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_E1,210,1,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_F1,255,1,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_G1,300,1,40,12,ES_AUTOHSCROLL
	LTEXT 	"2):",-1,11,21,45,8
	EDITTEXT	IDD_A2,30,21,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_B2,75,21,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_C2,120,21,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_D2,165,21,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_E2,210,21,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_F2,255,21,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_G2,300,21,40,12,ES_AUTOHSCROLL
	LTEXT 	"3):",-1,11,41,45,8
	EDITTEXT	IDD_A3,30,41,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_B3,75,41,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_C3,120,41,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_D3,165,41,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_E3,210,41,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_F3,255,41,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_G3,300,41,40,12,ES_AUTOHSCROLL
	LTEXT 	"4):",-1,11,61,45,8
	EDITTEXT	IDD_A4,30,61,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_B4,75,61,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_C4,120,61,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_D4,165,61,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_E4,210,61,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_F4,255,61,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_G4,300,61,40,12,ES_AUTOHSCROLL
	LTEXT 	"5):",-1,11,81,45,8
	EDITTEXT	IDD_A5,30,81,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_B5,75,81,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_C5,120,81,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_D5,165,81,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_E5,210,81,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_F5,255,81,40,12,ES_AUTOHSCROLL
	EDITTEXT	IDD_G5,300,81,40,12,ES_AUTOHSCROLL
	LTEXT		"FX",-1,11,100,25,8
	EDITTEXT	IDD_FX,50,100,20,12,ES_AUTOHSCROLL
	DEFPUSHBUTTON 	"<",IDD_FX1,40,100,10,12, WS_VISIBLE
	DEFPUSHBUTTON 	">",IDD_FX2,70,100,10,12, WS_VISIBLE
	EDITTEXT	IDD_FY,100,110,18,12,ES_AUTOHSCROLL
	DEFPUSHBUTTON 	"^",IDD_FY1,100,100,18,10, WS_VISIBLE
	DEFPUSHBUTTON 	"v",IDD_FY2,100,122,18,10, WS_VISIBLE
	DEFPUSHBUTTON	"ReDraw",IDD_REDRAW,150,100,40,15, WS_VISIBLE
	DEFPUSHBUTTON 	" ",IDD_XY1,230,100,10,10, WS_VISIBLE
	DEFPUSHBUTTON 	" ",IDD_XY2,230,110,10,10, WS_VISIBLE
	DEFPUSHBUTTON 	" ",IDD_XY3,230,120,10,10, WS_VISIBLE
	DEFPUSHBUTTON 	" ",IDD_XY4,240,100,10,10, WS_VISIBLE
	DEFPUSHBUTTON 	" ",IDD_XY5,240,110,10,10, WS_VISIBLE
	DEFPUSHBUTTON 	" ",IDD_XY6,240,120,10,10, WS_VISIBLE
	DEFPUSHBUTTON 	" ",IDD_XY7,250,100,10,10, WS_VISIBLE
	DEFPUSHBUTTON 	" ",IDD_XY8,250,110,10,10, WS_VISIBLE
	DEFPUSHBUTTON 	" ",IDD_XY9,250,120,10,10, WS_VISIBLE


END 

IDD_ABOUT_DLG DIALOG DISCARDABLE 80, 100, 160, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT 	"IFS Drawer v.1.0",-1,40,10,80,8
	LTEXT       "www.the-blueant.com",-1,40,20,80,8
	LTEXT		"by Nelli Fabio (c) 2006", -1 ,40,40,120,8
	DEFPUSHBUTTON "OK",IDD_ABOUT_OK,40,55,35,15, WS_VISIBLE
	ICON		IDI_BLUEANT,-1,10,10,50,50
END

IDD_HELP_DLG DIALOG DISCARDABLE 150, 90, 170, 240
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT 	"None",-1,10,5,80,8
	DEFPUSHBUTTON "OK",IDD_ABOUT_OK,40,220,35,15, WS_VISIBLE
END

/////////////////////////////////////////////////////////////////////////////
// Menu

IDR_MAIN_MENU MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit",                       IDM_FILE_EXIT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Parameters",                 IDM_VIEW_TOOLBOX, CHECKED
	  MENUITEM "Co&lor",				IDM_VIEW_COLOR,	CHECKED
    END
    POPUP "Cl&assics"
    BEGIN
	  MENUITEM "Sierpinsky",			IDM_IFS_SIERPINSKY
	  MENUITEM "Fern",				IDM_IFS_FERN
	  MENUITEM "Dragon",				IDM_IFS_DRAGON
        MENUITEM "Spiral",				IDM_IFS_SPIRAL
	  MENUITEM "Leaf",				IDM_IFS_LEAF
    END
    POPUP "&Help"
    BEGIN
	  MENUITEM "H&elp",				IDM_HELP_HELP
	  MENUITEM "&About IFS Drawer",		IDM_HELP_ABOUT
    END
END

/////////////////////////////////////////////////////////////////////////////
// String Table

STRINGTABLE DISCARDABLE 
BEGIN
    IDM_FILE_EXIT           "Closes the application"
    IDM_VIEW_TOOLBOX        "Toggles the presence and disappearance of the toolbox\nShow/Hide Toolbox"
    IDM_HELP_ABOUT	    "Author, version, ..."
END
 
/////////////////////////////////////////////////////////////////////////
// Icon & Cursor

IDI_RESFUND ICON 		"the-blueant.ico"
IDI_BLUEANT ICON        "the-blueant.ico"
IDC_TARGET	CURSOR	"mycursor.cur"	

